.vscode/**
.vscode-test/**
.github/**
src/**
test/**
out/test/**
.gitignore
.gitattributes
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/tsconfig.json
**/.prettierrc
node_modules/**
.nvmrc
*.vsix
vitest.config.ts
